## MGOC15 - Introductory Business Data Analytics
**Lecture 2 In-Class Notebook**


In this notebook, we will explore different data types - number, strings, and lists. We will go over different ways of accessing/reading data files and finally how to summarize the information contained in them.

This cell is a descriptive cell (no code). Click on "Cell" in the menu and change cell type to Markdown to get a descriptive cell.

In [ ]:
import pandas #pandas allows us to read csv files
import numpy #numpy lets us do mathematical calculations
import matplotlib #Allows us to make plots

In [ ]:
#This is just a test to make sure we can even read the csv file
df = pandas.read_csv('customer_data.csv')
print(df.head()) #This prints the first 5 rows of the file

Let's begin by going over different variable types and what operations we can perform on them

In [ ]:
x=4
print('First value of x',x)
x=10
print('Second value of x',x)
x=20
print('Third value of x',x)

In [ ]:
#Mathematical Operations on x
x=3
y=5
print('Multiplication',x*y)
print('Subtraction',x-y)
print('Division',x/y)

In [ ]:
#What about Strings/Text?

str = "Welcome to MGOC15!"
print('The string contains-',str)
print('This string has',len(str),'characters')

In [ ]:
#Lists contain lots of numbers/strings e.g., each column in a table

numlist = [1,2,3,4,5]
print('This is a list of numbers',numlist)
print('Length of List',len(numlist))
strlist=["John","Sofia","Elena","Jin"]
print('This is a list of strings',strlist)

Do the following exercises:<br>
    1) Assign two numbers with decimals to two variables and add them<br>
    2) Create two strings (str1,str2) and add them, print the output. Check the length of the str1+str2<br>
    3) Create two numeric lists of equal length (list1, list2), add them and print list1+list2.<br>

In [ ]:
#Exercise 1 Below

In [ ]:
#Exercise 2

In [ ]:
#Exercise 3

## Print Column Names

In [ ]:
#Let's read the CSV file and print the set of columns
df = pandas.read_csv('customer_data.csv')
print(df.columns)

#What happens if you try to print the entire dataframe
#Uncomment the following line of code
#print(df)

In this third act, we will try and obtain some summary statistics
- average
- count
- min and max

We will also learn how to extract specific columns

In [ ]:
# How many rows?
#Len is your friend - be sure to read_csv before running this code

print('The number of rows in the data frame is',len(df))

In [ ]:
#Slicing a.k.a extracting columns
#df is our main dataframe

dfAge = df['age']
print(dfAge)

#Selecting multiple columns
col_list = ['first_name','last_name','age']
dfCustomers = df[col_list]
#print(dfCustomers)

In [ ]:
print('The Minimum age is',dfAge.min())
print('The Maximum age is',dfAge.max())
print('The Average age is',dfAge.mean())

In [ ]:
#All Summary Statistics
print(dfAge.describe())

In [ ]:
dfGender = df['gender']
print(dfGender.value_counts())

dfproduct = df['product']
print(dfproduct.value_counts())

# Exercise:

1) Add the age and id columns and store it in a new dataframe called dfWhatAreWeDoingHere. Print this new dataframe. Is this identical to adding two lists?

2) Select both the gender and age columns into a new dataframe called dfGA

3) How many users of this service are age 60?

4) Try printing the median age (Hint: .median() gives you the median for a dataframe)

## Try at home

In [ ]:
#Another way to print Fractions using value_counts
dfGender.value_counts(normalize=True)

In [ ]:
#What if I only want to read a few rows
dfrows = pandas.read_csv('customer_data.csv',nrows=10)
print(dfrows)

In [ ]:
#What if I only want to read first_name, last_name, and age
main_cols = ['first_name','last_name','age']
dfcols = pandas.read_csv('customer_data.csv',usecols=main_cols)
print(dfcols.head())